{% load static %}
<section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <div class="info_logo">
              <a href="index.html">
                <span>Crypto</span>
              </a>
            </div>
            <h5>Contact Us</h5>
            <div>
              <div class="img-box">
                <img src="{% static 'images/location.png' %}" width="18px" alt="" />
              </div>
              <p>California: Los Angeles</p>
            </div>
            <div>
              <div class="img-box">
                <img src="{% static 'images/phone.png' %}" width="18px" alt="" />
              </div>
              <p>+01 1234567890</p>
            </div>
            <div>
              <div class="img-box">
                <img src="{% static 'images/envelope.png' %}" width="18px" alt="" />
              </div>
              <p>demo@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>Invest Money</h5>
            <p>
              The topic of money is one that encompasses a vast range of facets, from personal finance management to economic policy decisions on a global scale. Money influences our daily lives in numerous ways, affecting our choices, opportunities, and overall well-being.
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_links">
            <h5>Useful Links</h5>
            <ul>
              {% for link, value in links %}
                <li>
                  <a href="">{{ value }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>Newsletter</h5>
            <form action="">
              <input type="email" placeholder="Enter your email" />
              <button>Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="container-fluid footer_section">
    <p>&copy; 2024 All Rights Reserved</p>
</section>